body{
  overflow: hidden;
}
.App {
  background-color: #1a140f;
  width: 100%;
  height: 100%;
}
button{
  background: none;
  border: 1px solid #f7f1e4;
  padding: 10px;
  color: #f7f1e4;
}
button:hover{
  background: #f7f1e4;
  color: #000;
  cursor: pointer;;
}

.App-header {
  text-align: center;
  display: flex;
}
.App .body{
  margin-top: 5vh;
  display: flex;
}

.App .banner-wrapper{
  height: 100vh;
  width: 30vw;
  background-color: #f7f1e4;
  border: 3px solid green;
}


/* NAVIGATION */
.navigation{
  max-height: 5vh;
  width: 100%;
  background: #857c6a;
  position: fixed;
  top: 0;
  font-family: 'Raleway';
  z-index: 10;
}
#navbar{
  font-size: 18px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
#navbar ul{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
#navbar ul a:hover{
  color: #d8d7d7;
}
#navbar ul a{
  color: white;
  text-decoration: none;
  list-style: none;
}

/* Main Page */
#mainpage{
  margin: 0 auto;
  width: 65vw
}
#mainpage div{ 
  color: #f7f1e4;
  margin: 50px;
}

/* Contact Popup */
#mainpage .display-none{
  display: none;

}
.close_button{
  max-width: 50px;
}

#mainpage .display-open{
  display: none;
}