#body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.App-header {
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.App .banner-wrapper{
  height: 100%;
  width: 30vw;
  align-self: center;
  margin: auto;
}


/* NAVIGATION */
#navbar{
  max-height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  background: #000;
}
#navbar ul{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
#navbar ul a{
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}
#navbar ul a:hover{
  color: red;
}

